@import url('./assets/css/fonts.css');
:root{
  ---main-color:#32E0C4;
  --secondary-color: #393E46;
  --heading-color: red;
  --background-color: #EEEEEE;
  --gradient-color: #32E0C4, #EEEEEE ;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  
  }

  to{
    opacity: 1;
  }
}

@keyframes loading {
  from{
    transform: rotate(0deg);
  }
  /* 25%{
    transform: rotate(-45deg);
  } */

  to{
    transform: rotate(-360deg);
  }
  
}

html{
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}




body{
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Kosugi Maru', sans-serif;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  height: 100dvh;
}

.top-header{
  padding-top: 5rem;
}

a,
a::after,
a:visited,
a:target{
  text-decoration: none;
  color: black;
}

h3,
h4{
  margin: none;
  height: fit-content;
}


main{
  height: 100%;
}

input:focus::placeholder {
  color: transparent;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.center{
  margin: auto;
}

.wrapper-box-shadow{
  box-shadow: gray  -1px 2.5px 3px 3px;
}

.navbar{
  background:var(---main-color);
  position: fixed;
  width: 100%;
  display: flex;
  height:4rem;
  align-items: center;
  z-index: 9;
}

.navbar-nav{
  width: 90%;
  align-items: center;
  height: 100%;
}


.navbar-nav ul{
  margin-left: auto;
  height: inherit;
}



.nav-group{
  gap: 2em;
}

.nav-item{
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 600;
  color: #000;
  height: inherit;
  border:  1px white;
  align-items: baseline;
}

.vertical-center{
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}


.logo{
  font-size: 3em;
}

.task-section{
margin: auto;
background: var(--background-color);
border-radius: 25px;
height: 100%;
padding: 10px;
}



.todo-list-section{
  justify-content: space-evenly;
  margin-bottom: auto;  
}

ul{
  list-style: none;
  margin: 0;
}


.background{
  background: var(---main-color);
}

.rounded{
  border-radius: 15px;
}

.todo-box{

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 27%;
  min-width: 27%;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  padding: 15px;
  height: 25em;
}

.todo-content{
  height: 100%;
}

.task-feed{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  gap: 1rem;
  margin-top:1rem;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  width: 100%;
  
}


.task-item{
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: space-evenly;
}

.task-container{
  padding:2.5px 25px;
  width: 50%;
  background-color: var(--background-color); 
  border-radius: 15px;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  min-height: 83px;
}


.task-title{
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  height: fit-content;
}

.task-container:hover{
  background: #B8E7E1;
}

.center-text{
  text-align: center;
}



textarea {
  border: dotted;
  overflow: auto;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  height: 100%;
}


.task-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.task-input textarea,
.task-input input{
  background-color: transparent;
  border: none;
  font-size: 1em;
}



.task-form-group{
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.task-form-group:last-child{
  height: 100%;
}


.button-style{
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  color: var(--background-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-style:active {
  background-color: var(--background-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: var(---main-color);
}

.add-format{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}


.checkmark-img{
  fill:var(--background-color);
  cursor: pointer;
  min-width: 3dvw;
}

.checkmark-img:hover{
  fill: #0BDA51;
}
.delete-img:hover{
  fill: #f82b01;
}

.login{
  gap: 1rem;
  align-items: center;
  padding: 25px  0;
  max-height: 600px;
  width: 100%;
  font-size: 1.25rem;
}

.form-group{
  gap:1rem;
  font-size: 1rem;
  width: 75%;
}
.form-group input{
  font-size: 1.25rem;
  min-height: 15px;
}


.hidden{
  display: none;
}

.reveal{
  display: block;
}

.task-popup{
  opacity: 0;
  position: relative;
  margin: auto;
  top: 25%;
  background: var(--background-color);
  padding: 15px;
  animation: fadeIn .5s;
  animation-fill-mode: forwards;
  max-width: 500px;
  width: 50%;
  box-shadow: 1px 1px 1.5px 3px #000;
  border-radius: 25px;
}

.popup-background{
  height: 100vh;
  width: 100vw;
  background: rgba(50,50,50,0.9);;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

}

.container-liquid{
 position: relative;
 width: 70%;
 margin: 2.5rem auto;
}

.loading-box{
  margin: auto;
  margin-top: 10%;
  background: linear-gradient(270deg, var(--gradient-color));
  padding: 3rem;
  border-radius: 15px;
}

.loading-icon{
  animation: loading 1s;
  animation-iteration-count: infinite;
}


.calender-container{
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
}

.calender-header{
  gap:1rem;
  justify-content: space-between;
  background-color: var(---main-color);
}

.calendar{
  margin: auto;
  background-color:var(--background-color);
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.days-of-week{
  background-color: var(--secondary-color);
  justify-content: space-around;
  height: 3em;
  color: var(--background-color);
}

.day-container{
  width: 13.6%;
}

.day-card{
  width:13.6%;
  display: inline-block;
  background: var(---main-color); 
  margin: .34%;
  max-height:5%;
  border-radius: 15px;
}

.today{
  background:var(--secondary-color); 
  color: white;
  
}

.day-card-blank{
  width:13.6%;
  border-radius: 15px;
  display: inline-block;
  background: transparent; 
  margin: .34%;
}

.task-calendar-box h3,
.task-calendar-box p,
.date{
  height: fit-content;
  margin: 0;
}

.day-card-content{
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.arrow-button svg{
  margin: auto;
}

.back-arrow{
  rotate: 180deg;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.header-title,
.header-title input{
  background:transparent;
  border: none;
  align-items: center;
}

.header-title input{
  width: 35px;
  font-size: 30px;
  
}

.title-box{
  
  margin: 1em auto;
  border-radius: 25px;
  width: 95%;
}

.todo-box-header{
  width: 80%;
}

.todo-title{
  font-size: 1.25em;
  width: 100%;
}

.todo-box-button{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 1em;
  
}

.todo-box-button-active{
  border: solid;
}

.summary .todo-box{
  max-width: none;
  width: 40%;
}

.no-margin{
  margin: 0;
}


.pressable{
  cursor: pointer;
}
.pressable:active{
transform: translateY(1px);
}

.nav-item.pressable:active{
background-color: var(--secondary-color);

}

.banner{
  height: 60%;
  background-color: var(--background-color);
}

.banner-content{
  gap: 4rem;
  align-items: baseline;
  justify-content: space-between;
  width: 70%;
  height: 70%;
}

.banner-group{

  width: 500px;
}

.banner-group p{
  font-size: 2rem;
}
.banner-group .logo{
  color: var(---main-color);
  

}


@media (max-width:1000px)  {
  body{
    background: white;
  }
  .banner{
    height: 80%;
  }
  .banner-content{
    flex-direction: column;
    width: 90%;
    
  }
  .banner-group{
    width: 100%;
  }

  .navbar-nav{
    width: 95%;
  }

  .nav-group{
    gap:.5em;
  }
  .nav-item h3{
    display: none;
  }

  .todo-list-section{
    flex-direction: column;
    position: relative;
  }
  .task-section{
    background-color: transparent;
    height: 100%;
   
  }
  .task-item{
    justify-content: space-evenly;
  }
  .todo-box{
    max-width: none;
    margin-top: 1rem;
    max-height: 20em;
  }

  .container-liquid{
    width: 90dvw;
    margin:.5em auto;
  }
  .container-liquid:first-child{
    margin-top: .5rem;
  }
  .calender-container{
    font-size: 2.5dvw;
  }
  .summary{
    flex-direction: row;
  }
  

}